/* MAX-WIDTH 767PX */
@media only screen and (max-width: 768px) {

	section .nav-left {
		display: none;
	}

	header #menu-bar {
		width: 100%;
		height: 50px;
		background-color: #60be86;
		position: fixed;
		z-index: 10;
	}

	header #btn-bars {
		margin-left: 20px;
		margin-top: 10px;
		width: 50px;
		height: 30px;
		background-color: transparent;
		border: 1px solid #97D4AF;
		outline: none;
	}

	header #btn-bars i {
		font-size: 20px;
		color: #97D4AF;
	}

	header #menu-mobile {
		width: 50%;
		height: 100%;
		background-color: #60be86;
		position: fixed;
		z-index: 9;
		left: -50%;
		transition: 1s;
	}

	header.open-menu #menu-mobile-mask {
		width: 100%;
		height: 100%;
		position: fixed;
		background-color: rgba(0, 0, 0, 0.5);
		top: 0;
		left: 0;
		z-index: 8;
	}

	header #img-user-mobile {
		width: 100px;
		position: relative;
		margin-left: 25%;
		margin-top: 150px;
		/*border-radius: 50px;*/
		border: 10px solid #97D4AF;
	}

	header #menu-mobile ul {
		list-style-type: none;
		text-align: center;
		position: relative;
		margin-top: 20px;
		margin-left: -25%;
	}

	header #menu-mobile ul li {
		margin-bottom: 10px;
	}

	header #menu-mobile ul li a {
		font-size: 2em;
		color: #fff;
	}

	header.open-menu #menu-mobile {
		left: 0;
	}

	section .presentation {
		margin-left: -250px;
		width: 100%;
		margin-right: 10px;
		padding-top: 50px;
	}

	section .presentation h1 {
		display: block;
		margin-left: 20px;
	}

	section .presentation h2 {
		line-height: 40px;
		margin-left: 20px;
	}

	section .presentation p {
	    display: block;
	    margin-left: 10px;
	}

	section .list-socials {
		margin-left: 10px;
	}

	section .list-socials li a {
		margin-right: 10px;
	}

	section .skills {
		margin-left: -250px;
		width: 100%;
		margin-right: 10px;
		padding-top: 100px;
	}

	section .skills h1 {
		font-size: 6em;
	}

	section .skills h2 {
		line-height: 40px;
		margin-left: 20px;
	}

	section .skills p {
	    display: block;
	    margin-left: 10px;
	}

	section .skills ul {
	    margin-left: 20px;
	    line-height: 60px;
	    margin-bottom: 10px;
	}

	section .education {
		margin-left: -250px;
		width: 100%;
		margin-right: 10px;
		padding-top: 100px;
	}

	section .education h1 {
		font-size: 7em;
	}

	section .experience {
		margin-left: -250px;
		width: 100%;
		margin-right: 10px;
		padding-top: 100px; 
	}

	section .experience h1 {
		font-size: 6em;
	}

	section .interests {
		margin-left: -250px;
		margin-right: 10px;
	}

	section .interests h1 {
		font-size: 6em;
	}

	html, body .visible-xs {
		display: block!important;
	}

	#box-btn-up {
	width: 35px;
	height: 35px;
	}

	#box-btn-up a i {
		font-size: 2em;
	}


}

/* MAX-WIDTH 320PX */
@media only screen and (max-width: 400px) {

	body, html h1 {
		font-size: 1em;
	}

}


/* MAX-HEIGHT 540PX */
@media only screen and (max-height: 540px) {

	section .nav-left img {
		margin-top: 10px;
	}

	section .nav-left ul {
		top: 10px;
	}

}